.stacks {
  margin: auto;
  display: block;
  width: 69px;
  height: 69px;
}
p {
  text-align: center;
}
.col s4 {
  border: 1px solid black;
}
.inline-text {
  display: inline;
}
nav {
  opacity: 0.5;
}
h1 {
  font-weight: 200;
}
