.stacks {
  margin: auto;
  display: block;
  width: 69px;
  height: 69px;
}
p {
  text-align: center;
}
.col s4 {
  border: 1px solid black;
}
.inline-text {
  display: inline;
}
h1 {
  font-weight: 200;
}
.navtext {
  font-weight: 200;
}
#code-wallpaper {
  vertical-align: top;
  display: inline-block;
}
