body, html {
  height: 100%;
}
h1 {
  font-weight: 200;
}
.custom-parallax {
  background-image: url("../images/bgg.jpg");
  min-height: 100%;
}
.custom-parallax2 {
  background-image: url("../images/algorithm.png");
  min-height: 400px;
}
.custom-parallax3 {
  background-image: url("../images/shootingstar.png");
  min-height: 400px;
}
.custom-parallax4 {
  background-image: url("../images/TG.jpeg");
  min-height: 400px;
  background-size: contain;
  opacity: 0.70;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.custom-parallax, .custom-parallax2, .custom-parallax3{
  opacity: 0.70;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption2 {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
#landing-btn {
  margin-top: 200px;
}
#self-portrait {
  width: 25%;
  height: 25%;
}
.initial-hidden {
  opacity: 0;
}
.projects {
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
}
#technologies li {
  opacity: 0;
}
#technologies img {
  margin: auto;
  display: block;
  width: 64px;
  height: 64px;
}
#technologies p {
  text-align: center;
}
#contact-text img {
  width: 40px;
  height: 40px;
}
#contact-text p {
  display: inline;
}
#email-phone i {
  font-size: 36px;
  vertical-align: middle;
}
#email-phone p {
  vertical-align: middle;
}
@media all and (max-device-width: 480px) {
  #landing-btn {
    display: none;
  }
  .caption {
    position: absolute;
    left: 0;
    top: 42%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 40px;
    letter-spacing: 10px;
  }
}
